#java {
  display: none;
}

#ruby {
  display: none;
}

#php {
  display: none;
}

#css {
  display: none;
}

#chash{
  display: none;
}

#question1{
display: block;
margin: 0 auto;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    color: white;
}

#question2{
display: block;
margin: 0 auto;
}

#question3{
display: block;
margin: 0 auto;
}

#question4{
display: block;
margin: 0 auto;
}

#question5{
display: block;
margin: 0 auto;
}

.btn {
    display: block;
    margin: 0 auto;
}

form .well {
  background-color: maroon;
}

body {
background-image: url("../img/background.jpg");
background-size: 100% 100%;
}

h1 {
  color: black;
  text-align: center;
}

.answer {
  width: 300px;
 border: 25px solid maroon;
 margin: 25px;
 display: none;
}
.panel-heading{
  text-align: center;
}

.panel {
  display: none;
  background-color: maroon;
}

.panel-body h1 {
  color: white;
}
